
.register {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);

  .card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--white-color);
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    color: var(--white-color);
    overflow: hidden;

    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
      grid-template-rows: repeat(2, 1fr);
      border-radius: 0%;
      height: 950px;
    }
    .left--container-register {
      background: linear-gradient(
          to bottom,
          rgba(13, 39, 232, 0.21),
          rgba(15, 40, 160, 0.687)
        ),
        url("../../assests/register.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 30px;

      h1 {
        font-size: 6em;
        font-weight: 900;
        font-family: var(--font-title);
      }

      button {
        width: 200px;
        height: 30px;
        background-color: var(--white-color);
        color: var(--primary-color);
        font-weight: 400;
        font-family: var(--font-title);
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }
    }

    .login--detail {
      padding: 20px;
      min-height: 350px;

      h1 {
        color: var(--primary-color);
        font-family: var(--font-title);
        display: grid;
        justify-content: center;
      }

      form {
        display: grid;
        gap: 15px;
        padding: 20px;
        margin-top: 15px;

        input {
          background-color: rgba(232, 232, 232, 0.719);
          outline: none;
          border: none;
          line-height: 35px;
          padding-left: 15px;
          border-radius: 20px;
        }

        p {
          color: var(--primary-color);
          font-size: 13px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          color: var(--primary-color);
          font-size: 12px;
        }

        button {
          background-color: var(--primary-color);
          color: var(--white-color);
          line-height: 35px;
          border: none;
          outline: none;
          border-radius: 20px;
          font-weight: 400;
          font-family: var(--font-title);
          width: 60%;
          width: 250px;
          cursor: pointer;
        }

        .login--icons {
          color: var(--primary-color);
          cursor: pointer;
          display: grid;
          grid-template-columns: repeat(2,40px);
          justify-content: center;
          
        }

        .login--detail-grid {
          gap: 10px;

          p {
            display: grid;
            justify-content: center;
          }

          span {
            display: grid;
            justify-content: center;
          }
        }
      }
    }
  }
}
